/* styles.css */

* {
  box-sizing: border-box;
}

body {
  font-family: "Avenir Next", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  color: #CC3399;
  border-bottom: 1px solid #666;
}

p {
  max-width: 600px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
}

th, td {
  border: 1px solid #666 !important;
}
